
ol li {
    background: gray;
    margin-bottom: 20px;
    padding: 12px 22px;
    color: white;
}

ol {
    list-style: none;
}
.h5 {
    padding-left: 30px;
}
.container {
    border: 1px solid red;
    
}