body {
    font-family: Arial, sans-serif;
    background-color: #3f4749;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}

.quiz-container {
    background-color: #EBECEA;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    width: 100%;
}

.question img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

.question p {
    font-size: 18px;
    margin-bottom: 20px;
}

.options label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid transparent;
    background-color: white;
}

.options label:hover {
    background-color: #f0f0f0;
}

.correct {
    background-color: #4CAF50 !important;
    color: white;
}

.wrong {
    background-color: #f44336 !important;
    color: white;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}

.navigation {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    color: white;
}

.nav-btn {
    background-color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
    background-color: white;
}

.nav-btn:hover {
    background-color: #ccc;
}
